<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="DataLayer.Properties.Settings.ProductionConnectionString" connectionString="Data Source=.;Initial Catalog=FederatedOAuth;User ID=sa;Password=only1secret4QA" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>